* {
    margin: 0;
    padding: 0;
}

.header {
    padding-top: 40px;
    padding-bottom: 84px;
}

.top_content {
    margin-bottom: 162px;
}

.title {
    margin-top: 97px;
    margin-bottom: 96px;
}

.top_info {
    margin-bottom: 17px;
}

.top_buttons {
    margin-top: 37px;
}

.top_logo {
    padding-top: 97px;
    padding-bottom: 96px;
}