* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFFFFF;
    font-family: 'Urbanist', Arial;
}

.center {
    padding-left: calc(50% - 586px);
    padding-right: calc(50% - 586px);
}

.header {
    margin-top: 40px;
    margin-bottom: 84px;
    display: flex;
    gap: 500px;
    justify-content: center;
    align-items: center;
}

.logo_links {
    width: 137px;
    height: 40px;
}

a {
    text-decoration: none;
}

.header_menu {
    width: 533px;
    height: 17px;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: space-between;
}

.header_link {
    color: #000000;
}

.header_link1 {
    color: #F25822;
}

.top_content {
    display: flex;
    margin-bottom: 162px;
    gap: 39px;
    justify-content: center;
    flex-wrap: wrap;
}

.big_img {
    width: 610.73px;
    height: 372.9px;
}

.title {
    margin-bottom: 17px;
    width: 522px;
    height: 222px;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
}

.top_info {
    margin-bottom: 17px;
    width: 522px;
    height: 374px;
}

.text {
    width: 466px;
    height: 48px;
    font-size: 20px;
    line-height: 23px;
    color: #888888;
}

.top_buttons {
    width: 302px;
    display: flex;
    height: 50px;
    gap: 72px;
    align-items: baseline;
    padding-top: 37px;
}

.button1 {  
    width: 69px;
    height: 19px;
    font-size: 15px;
    line-height: 18px;color: #FFFFFF;
    width: 140px;
    height: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
}

.button2 {
    width: 90px;
    height: 19px;
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
}

.top_logo {
    display: flex;
    padding-top: 97px;
    padding-bottom: 96px;
    gap: 48px;
    justify-content: center;
}

.bottom_logos {
    width: 160px;
    height: 50px;
}