* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    background: #FFFFFF;
    font-family: 'Urbanist', Arial;
}

.center {
    padding-left: calc(50% - 586px);
    padding-right: calc(50% - 586px);
}

.header {
    margin-top: 40px;
    margin-bottom: 84px;
    display: flex;
    gap: 500px;
    justify-content: center;
    align-items: center;
}

.logo_links {
    width: 137px;
    height: 40px;
}

a {
    text-decoration: none;
}

.header_menu {
    width: 533px;
    height: 17px;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: space-between;
}

.header_link {
    color: #000000;
}

.header_link1 {
    color: #F25822;
}

.top_content {
    display: flex;
    margin-bottom: 162px;
    gap: 39px;
    justify-content: center;
    flex-wrap: wrap;
}

.big_img {
    width: 610.73px;
    height: 372.9px;
}

.title {
    margin-bottom: 17px;
    width: 522px;
    height: 222px;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
}

.top_info {
    margin-bottom: 17px;
    width: 522px;
    height: 374px;
}

.text {
    width: 466px;
    height: 48px;
    font-size: 20px;
    line-height: 23px;
    color: #888888;
}

.top_buttons {
    width: 302px;
    display: flex;
    height: 50px;
    gap: 72px;
    align-items: baseline;
    padding-top: 37px;
}

.button1 {
    width: 69px;
    height: 19px;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    width: 140px;
    height: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
}

.button2 {
    width: 90px;
    height: 19px;
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
}

.top_logo {
    display: flex;
    padding-top: 97px;
    padding-bottom: 96px;
    gap: 48px;
    justify-content: center;
}

.bottom_logos {
    width: 160px;
    height: 50px;
}

.content {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 370px);
    justify-content: center;
}

.heading {
    height: 30px;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.item_text_small {
    width: 310px;
    height: 42px;
    font-size: 15px;
    line-height: 150%;
    color: #666666;
    margin-top: 17px;
    margin-bottom: 25px;
}

.item_text_large {
    width: 310px;
    height: 63px;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #AAAAAA;
    margin-top: 22px;
    margin-bottom: 39px;
}

.item_small {
    padding-left: 29px;
    padding-bottom: 25px;
    padding-right: 31px;
    padding-top: 40px;
}

.pics {
    margin-bottom: 25px;
}

.small_link {
    width: 64px;
    height: 17px;
    font-size: 11px;
    line-height: 150%;
    color: #000000;
    font-weight: 700;
}

.item_big {
    padding-left: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle_top {
    background: #FFFFFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}


.middle_bottom {
    background: #FFFFFF;
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

.button_learn {
    width: 150px;
    height: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    color: #FFFFFF;
    justify-content: center;
    
}

.center_item {
    grid-column: span 3;
    margin-top: 192px;
    margin-bottom: 54px;
}

.center_heading {
    padding-left: calc(50% - 288px);
    padding-right: calc(50% - 288px);
    width: 579px;
    height: 56px;
    font-size: 45px;
    line-height: 53px;
    color: #000000;
}

.center_item_text {
    padding-left: calc(50% - 341px);
    padding-right: calc(50% - 341px);
    width: 682px;
    height: 48px;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #666666;
    margin-bottom: 54px;
}